<table class="divide-y divide-gray-300">
	<thead class="bg-gray-50">
		<tr>
			<th class="px-6 py-2 text-xs text-gray-500">ID</th>
			<th class="px-6 py-2 text-xs text-gray-500">Title</th>
			<th class="px-6 py-2 text-xs text-gray-500">First Name</th>
			<th class="px-6 py-2 text-xs text-gray-500">Last Name</th>
			<th class="px-6 py-2 text-xs text-gray-500">Edit</th>
			<th class="px-6 py-2 text-xs text-gray-500">Delete</th>
		</tr>
	</thead>
	<tbody class="bg-white divide-y divide-gray-300">
		<% Object.values(trainers).forEach((trainer) => { %>
		<tr class="whitespace-nowrap">
			<td class="px-6 py-4 text-sm text-gray-500"><%= trainer.id %></td>
			<td class="px-6 py-4 text-sm text-gray-500"><%= trainer.title %></td>
			<td class="px-6 py-4">
				<div class="text-sm text-gray-500"><%= trainer.first_nm %></div>
			</td>
			<td class="px-6 py-4">
				<div class="text-sm text-gray-500"><%= trainer.last_nm %></div>
			</td>
			<td class="px-6 py-4">
				<a href="/trainers/edit/<%= trainer.id %>" class="px-4 py-1 text-sm text-blue-600 bg-blue-200 rounded-full">Edit</a>
			</td>
			<td class="px-6 py-4">
				<button id="deleteTrainer" class="px-4 py-1 text-sm text-red-400 bg-red-200 rounded-full">Delete</button>
			</td>
		</tr>
		<% }); %>
	</tbody>
</table>

<script src="trainerIndex.js"></script>
