<table class="divide-y divide-gray-300">
	<thead class="bg-gray-50">
		<tr>
			<th class="px-6 py-2 text-xs text-gray-500">ID</th>
			<th class="px-6 py-2 text-xs text-gray-500">Name</th>
			<th class="px-6 py-2 text-xs text-gray-500">Username</th>
			<th class="px-6 py-2 text-xs text-gray-500">Email</th>
			<th class="px-6 py-2 text-xs text-gray-500">Cohort</th>
			<th class="px-6 py-2 text-xs text-gray-500">Edit</th>
			<th class="px-6 py-2 text-xs text-gray-500">Delete</th>
		</tr>
	</thead>
	<tbody class="bg-white divide-y divide-gray-300">
		<% Object.values(students).forEach((student) => { %>
		<tr class="whitespace-nowrap">
			<td class="px-6 py-4 text-sm text-gray-500"><%= student.id %></td>
			<td class="px-6 py-4">
				<div class="text-sm text-gray-900"><%= student.name %></div>
			</td>
			<td class="px-6 py-4">
				<div class="text-sm text-gray-500"><%= student.username %></div>
			</td>
			<td class="px-6 py-4">
				<div class="text-sm text-gray-500"><%= student.email_address %></div>
			</td>
			<td class="px-6 py-4 text-sm text-gray-500"><%= student.cohort %></td>
			<td class="px-6 py-4">
				<a href="/students/edit/<%= student.id %>" class="px-4 py-1 text-sm text-blue-600 bg-blue-200 rounded-full">Edit</a>
			</td>
			<td class="px-6 py-4">
				<button id="deleteStudent" class="px-4 py-1 text-sm text-red-400 bg-red-200 rounded-full">Delete</button>
			</td>
		</tr>
		<% }); %>
	</tbody>
</table>
